.timeline-event {
    padding: 20px;
    display: flex;
}

.event-date {
    margin-right: 150px;
    font-weight: bold;
}

.event-description {
    width: 80%;
    alignment: right;
}

.event-details {
    width: 200%;
    font-size: 12px;
    display: flex;
}

.event-details a {
    color: #ffd861;
    text-decoration: none;
}

.event-details a:hover {
    text-decoration: underline;
}

.year-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    margin-right: 1250px;
    margin-left: 1250px;
}

.year-button:hover {
    background-color: #0056b3;
}

.event-dropdown {
    alignment: center;
    margin-left: 855px;
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: #001f3f;
    padding: 10px;
    border: 1px solid #0056b3;
}

.event-dropdown.open {
    alignment: center;
}